################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CodeLineCounter/CodeLineCounter/obj
/CodeLineCounter/.vs/CodeLineCounter/FileContentIndex
/.vs/CodeLineCounter/v17
/CodeLineCounter/.vs/ProjectEvaluation
/CodeLineCounter/.vs/CodeLineCounter/DesignTimeBuild
/CodeLineCounter/.vs/CodeLineCounter/v17/.futdcache.v2
/CodeLineCounter/.vs/CodeLineCounter/v17/DocumentLayout.json
/CodeLineCounter/CodeLineCounter/bin/Debug/net8.0
